// Made by LuckFire#4800 (399416615742996480) and tweaked by botato# (399416615742996480)

@mixin status_text($status, $color) {
  &[aria-label="#{$status}"]::after {
    content: "#{$status}";
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 5px;
    color: #{$color};
  }
}

@if ($dm-status-text-enabled) {
  .status-1XNdyw {
    @include status_text(Online, $color-online);
    @include status_text(Do Not Disturb, $color-dnd);
    @include status_text(Idle, $color-idle);
    @include status_text(Offline, $color-offline);
  }
}

/*
    &[aria-label="Online"]::after {
      content: "Online";
      text-transform: capitalize;
      font-weight: bold;
      padding-left: 5px;
      color: $color-online;
    }
    &[aria-label="Do Not Disturb"]::after {
      content: "Do Not Disturb";
      text-transform: capitalize;
      font-weight: bold;
      padding-left: 5px;
      color: $color-dnd;
    }
    &[aria-label="Idle"]::after {
      content: "Idle";
      text-transform: capitalize;
      font-weight: bold;
      padding-left: 5px;
      color: $color-idle;
    }
    &[aria-label="Offline"]::after {
      content: "Offline";
      text-transform: capitalize;
      font-weight: bold;
      padding-left: 5px;
      color: $color-offline;
    }
*/
