/*
  Made by botato#6883 (440990343899643943)
*/

@if $member-list-roles-enabled {
  .membersGroup-v9BXpm {
    text-transform: none;
    font-size: 15px;

    &::before {
      content: "Role: ";
      text-transform: none;
    }
  }
}
