/*
  Made by Ben855#0855 (465668689920917534)
*/

@import "../config";
@import "../vars";

@if $replace-all-green {
  .colorStatusGreen-2saF4_ {
    color: $color-blurple;
  }

  .userSettingsSecurity-3IYeMF .lockIcon-2Hj8Tq {
    filter: hue-rotate(95deg) brightness(0.9);
  }

  .userSettingsSecurity-3IYeMF .isEnabled-24g9qA {
    color: $color-blurple;
  }

  .powercord-codeblock-copy-btn.copied {
    background-color: $color-blurple !important;
  }

  .iconSize-2tmqqh {
    filter: hue-rotate(95deg) brightness(0.9);
  }

  .lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: $color-blurple !important;
  }

  #status-picker-online > .statusItem-33LqPf > .icon-1IxfJ2 > foreignObject > .status-1AY8sU {
    background-color: $color-blurple !important;
  }

  .statusOnline-8PnF5L {
    background-color: $color-blurple !important;
  }

  .avatarSpeaking-3MqCHL {
    -webkit-box-shadow: inset 0 0 0 2px $color-blurple, inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px $color-blurple, inset 0 0 0 3px var(--background-secondary);
  }
}
