/*
  Made by "a cat#7355" (644747939398549504) and tweaked by botato#6883 (440990343899643943)
*/

@if $spotify-enabled {
  .powercord-spotify {
    padding-bottom: 10px;
    background-color: var(--background-secondary);

    &:not(:hover) .horizontal-1ae9ci * {
      display: none;
    }

    img {
      border-radius: 5px !important;
    }

    .nameTag-3uD-yy .subtext-3CDbHg {
      overflow-x: hidden;
      text-indent: -15px;
    }
  }

  .spotify-seek-elements {
    font-size: 70%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .spotify-seek-bar {
    height: 4px;
    border-radius: 2px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .spotify-seek-bar-progress {
    border-radius: 45px;
  }
}
