/*===============================================================
============================ Config =============================
===============================================================*/

/*           ============= White Badges ============           */
$white-badges-enabled: true;

/*           ========== White Connections ==========           */
$white-connecitons-enabled: true;

/*           ============ Better Spotify ===========           */
$spotify-enabled: true;

/*           ============ Combined Bar =============           */
$combined-bar-enabled: true;

/*           ============= Home Icon ===============           */
$home-icon-enabled: true;

/*           ========== Member List Roles ==========           */
$member-list-roles-enabled: true;

/*           =========== Unread Channels ===========           */
$channel-indicators-enabled: true;

/*           ====== Total Member Count Plugin ======           */
$total-member-count-plugin-enabled: true;

/*           ========== Replace All Green ==========           */
$replace-all-green: false;

/*           ======= Yellow Permission Ticks =======           */
$yellow-permission-ticks: true;
