//----------------- DON'T TOUCH -----------------
$palenight-version: "0.0.1";

// General Colors
$color-white: #ffffff !default;
$color-yellow: #ffba00 !default;

// Brand Colors
$color-blurple: #7289da !default;
$color-nitro-p: #ff73fa !default;
$color-spotify: #1ad860 !default;

// Status Colors
$color-online: #43b581 !default;
$color-dnd: #f04747 !default;
$color-idle: #faa61a !default;
$color-offline: #747f8d !default;
$color-streaming: #593695 !default;

// Rainbow Colors
$color-rainbow-1: #6666ff !default;
$color-rainbow-2: #0099ff !default;
$color-rainbow-3: #00ff00 !default;
$color-rainbow-4: #ff3399 !default;

//----------------- CONFIG THIS -----------------
$color-bg-main: #292d3e !default;
$color-bg-second: #1b1e2b !default;
$color-bg-third: #181a24 !default;
$color-bg-four: #11121a !default;
$color-bg-scrollbar: #3a3d51 !default;
$color-link: #a6accd !default;
$color-interactive-normal: #a6accd !default;

// Spotify
$spotify-bg: $color-bg-third;
$spotify-song-name-color: var(--header-primary);
$spotify-song-author-color: var(--header-secondary);
$spotify-song-time-color: var(--header-secondary);
$spotify-song-time-font-size: 70%;
$spotify-seek-bar-background-color: var(--background-modifier-active);
$spotify-seek-bar-foreground-color: $color-spotify;
$spotify-hide-by-text: true;
