/*
  Made by botato#6883 (440990343899643943), beacause i'm too lazy to type these manually
*/

/** General Colors **/
$color-white: #ffffff !default;
$color-yellow: #ffba00 !default;

/** Brand Colors **/
$color-blurple: #7289da !default;
$color-nitro-p: #ff73fa;
$color-spotify: #1ad860;

/** Status Colors **/
$color-online: #43b581;
$color-dnd: #f04747;
$color-idle: #faa61a;
$color-offline: #747f8d;
$color-streaming: #593695;

/** Theme Colors **/
$color-bg-main: #292d3e;
$color-bg-second: #1b1e2b;
$color-bg-third: #181a24;
$color-bg-four: #11121a;
$color-bg-scrollbar: #3a3d51;
$color-link: #a6accd;
$color-interactive-normal: #a6accd;

/** Rainbow Colors **/
$color-rainbow-1: #6666ff;
$color-rainbow-2: #0099ff;
$color-rainbow-3: #00ff00;
$color-rainbow-4: #ff3399;
